* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #070a52;
}

body,
input,
textarea,
select,
button {
  color: #d21312;
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

main {
  /* width: 80%; */
  margin: 0 auto;
  margin-top: 2rem;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox input {
  border-radius: 8px 0 0 8px;
  border: 0;
  outline: none;
  height: 36px;
  padding: 4px 16px;
  background-color: #f15a59;
  color: #070a52;
}

.searchBox input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ed2b2a;
  opacity: 1; /* Firefox */
}

.searchBox input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ed2b2a;
}

.searchBox input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ed2b2a;
}

.searchBox button {
  border-radius: 0 8px 8px 0;
  border: 0;
  height: 36px;
  padding: 4px 16px;
  background-color: #ed2b2a;
}

.pokemonContainer {
  display: grid;
  grid-template-columns: minmax(150px, 400px) minmax(150px, 400px);
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.pokemonContainer img {
  object-fit: cover;
  object-position: bottom right;
  max-width: 100%;
}

.pokemonContainer p {
  margin-top: 1rem;
}

.pokemonContainer .pokemonInfos {
  padding: 2rem;
}

.pokemonDescription {
  max-width: 100%;
}

#select-container {
  margin-top: 20px;
}

.resultsContainer {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

#loadingGif {
  max-width: 100px;
  max-height: 100px;
}
